/**
 * Variables for our Sass files.
 */

// Fonts.
$trebuchet-font-stack: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;

// Colours.
$color-almost-black: #464646;
$color-primary: #0088ce;
