/**
 * Styles for the page header component.
 */

.page-header {
  border-bottom: 3px solid #0088ce;
  border-top: 5px solid #0088ce;
  display: block;
  padding: 5px 10px;
}

.identity {
  img {
    height: 30px;
  }
}

.name {
  display: inline-block;
  margin-left: 1em;
}
